$font-main: "Saira";

$color-main: #6610f2;

$color-white: #fafafa;
$color-gray: #909090;

$bg-color: #080713;

$gap-0: 0px;
$gap-1: 8px;
$gap-2: 16px;
$gap-3: 24px;
$gap-4: 32px;
$gap-5: 48px;
$gap-6: 64px;
$gap-7: 72px;
$gap-8: 96px;
$gap-9: 128px;

@mixin responsive-desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin responsive-tablet {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin responsive-mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin flexbox-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flexbox-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-layout() {
  max-width: 1140px;
  margin: 0 auto;
}
